.table_row {
  height: 55px !important;
}

.table_row td {
  padding: 5px !important;
  text-align: center;
}

.table_row td {
  border-right: 1px solid #e1dede !important;
  border-bottom: 1px solid #bebebe !important;
  background-color: #ededed !important;
}
