.table_row {
  height: 55px !important;
}

.table_row td {
  padding: 5px !important;
  text-align: center;
}

.table_row td {
  border-right: 1px solid #e1dede !important;
  border-bottom: 1px solid #bebebe !important;
  background-color: #ededed !important;
}

.table_selected_row td {
  box-sizing: border-box;
  background-color: #99d0ff !important;
  border-bottom: 2px solid #0660ac !important;
  border-top: 2px solid #0660ac !important;
}

.table_selectable_row td {
  cursor: pointer;
}
